mixin SectionHero
	section(class="relative py-16 px-4 min-h-screen flex flex-col before:content-[''] before:bg-cetek-600 before:h-full before:w-1/2 before:absolute before:top-0 before:left-0 md:px-16 xl:px-32")
		div(class="relative flex-grow flex flex-col")
			div(id="PageHomeHeroSlider", class="keen-slider flex-grow rounded-md overflow-hidden")
				each sliderItem in homeSettings.slider.items
					div(class="keen-slider__slide flex flex-col")
						div(class="relative select-none flex-flex-col flex-grow")
							img(
								src=sliderItem.background_image.url,
								srcset=`${sliderItem.background_image.sizes["2048x2048"]} ${sliderItem.background_image.sizes["2048x2048-width"]}w, ${sliderItem.background_image.sizes["1536x1536"]} ${sliderItem.background_image.sizes["1536x1536-width"]}w, ${sliderItem.background_image.sizes["large"]} ${sliderItem.background_image.sizes["large-width"]}w, ${sliderItem.background_image.sizes["medium_large"]} ${sliderItem.background_image.sizes["medium_large-width"]}w, ${sliderItem.background_image.sizes["medium"]} ${sliderItem.background_image.sizes["medium-width"]}w`,
								alt="alt",
								class="absolute top-0 left-0 z-10 w-full h-full object-cover"
							)
							div(class="relative z-20 flex-grow h-full min-h-[600px] py-28 md:py-20 px-8 flex flex-col items-center justify-center gap-5 text-center bg-neutral-800 bg-opacity-60")
								div(class="flex flex-col justify-center items-center gap-2 max-w-screen-sm")
									h3(class="flex items-center text-white text-opacity-80 text-sm tracking-widest before:content-[''] before:block before:h-1 before:w-8 before:bg-cetek-600 before:mr-3 after:content-[''] after:block after:h-1 after:w-8 after:bg-cetek-600 after:ml-3")= sliderItem.subtitle
									h2(class="text-white font-normal text-3xl sm:text-6xl [&_strong]:font-semibold")!= sliderItem.main_title
									p(class="text-white text-opacity-80 text-sm sm:text-base font-light leading-7")!= sliderItem.description
								a(
									href=sliderItem.button_link,
									class="inline-flex items-center justify-center bg-cetek-600 text-white h-12 px-8 rounded font-medium border border-solid border-transparent transition-all duration-700 leading-none hover:bg-transparent hover:border-white"
								)= sliderItem.button_label
			button(
				aria-label="Previous slide",
				id="PageHomeHeroSliderPrevButton",
				class="absolute bottom-0 left-4 -translate-y-1/2 rounded-full bg-white border border-primaryColor-600 p-4 text-primaryColor-600 transition hover:bg-cetek-600 hover:text-white md:bottom-auto md:top-1/2 md:-translate-y-1/2"
			)
				<svg class="size-5 -rotate-180 transform" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M9 5l7 7-7 7" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" /></svg>
			button(
				aria-label="Next slide",
				id="PageHomeHeroSliderNextButton",
				class="absolute bottom-0 right-4 -translate-y-1/2 rounded-full bg-white border border-primaryColor-600 p-4 text-primaryColor-600 transition hover:bg-cetek-600 hover:text-white md:bottom-auto md:top-1/2 md:-translate-y-1/2"
			)
				<svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M9 5l7 7-7 7" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" /></svg>
